* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
}

#menu input {
    width: 80px;
    height: 30px;
}

.active {
    background: red;
}

#con div {
    width: 400px;
    height: 200px;
    border: 1px solid #000;
}